<script src="https://cdn.jsdelivr.net/gh/herrjemand/Base64URL-ArrayBuffer@latest/lib/base64url-arraybuffer.js"></script>
<script>
    let csrftoken;
    document.addEventListener("DOMContentLoaded", function (event) {
        csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value;
    });

    async function register(register_status_callback = (status, msg) => {}) {
        register_status_callback("start", undefined);

        let registration_config = await fetch("{% url "webauthnauth:register_config" %}")
            .then(response => response.json())
            .then(login_config => {
                login_config.user.id = window.base64url.decode(login_config.user.id);
                login_config.challenge = window.base64url.decode(login_config.challenge);
                if (login_config.hasOwnProperty("excludeCredentials")) {
                    for (let i = 0; i < login_config.excludeCredentials.length; i++) {
                        login_config.excludeCredentials[i].id = window.base64url.decode(login_config.excludeCredentials[i].id);
                    }
                }
                return login_config
            });

        let credential;
        try {
            credential = await navigator.credentials.create({
                publicKey: registration_config
            });
        }
        catch (error) {
           register_status_callback("fail", error)
        }

        const encoded = {
            "rawId": window.base64url.encode(credential.rawId),
            "id": credential.id,
            "type": credential.type,
            "response": {
                "attestationObject": window.base64url.encode(credential.response.attestationObject),
                "clientDataJSON": window.base64url.encode(credential.response.clientDataJSON),
            }
        }

        await fetch("{% url "webauthnauth:register" %}",
            {
                "method": "POST",
                "headers": {"X-CSRFToken": csrftoken},
                "mode": "same-origin",
                "body": JSON.stringify(encoded)
            });
        register_status_callback("success", undefined);
    }

    async function login_webauth(username, login_status_callback = (status, msg) => {}) {
        login_status_callback("start", undefined);

        let form_data = new FormData();
        form_data.append("login", username);

        let registration_config = await fetch("{% url "webauthnauth:login_config" %}",
            {
                "method": "POST",
                "headers": {"X-CSRFToken": csrftoken},
                "mode": "same-origin",
                body: form_data
            })
            .then(response => response.json())
            .then(login_config => {
                login_config.challenge = window.base64url.decode(login_config.challenge);
                if (login_config.hasOwnProperty("allowCredentials")) {
                    for (let i = 0; i < login_config.allowCredentials.length; i++) {
                        login_config.allowCredentials[i].id = window.base64url.decode(login_config.allowCredentials[i].id);
                    }
                }
                return login_config
            });

        let credential;
        try {
            credential = await navigator.credentials.get({
                publicKey: registration_config
            });
        } catch (error) {
            login_status_callback("fail", error)
            return;
        }

        const encoded = {
            "rawId": window.base64url.encode(credential.rawId),
            "id": credential.id,
            "type": credential.type,
            "response": {
                "authenticatorData": window.base64url.encode(credential.response.authenticatorData),
                "clientDataJSON": window.base64url.encode(credential.response.clientDataJSON),
                "signature": window.base64url.encode(credential.response.signature),
                "userHandle": window.base64url.encode(credential.response.userHandle),
            }
        }

        await fetch("{% url "webauthnauth:login" %}",
            {
                "method": "POST",
                "headers": {"X-CSRFToken": csrftoken},
                "mode": "same-origin",
                "body": JSON.stringify(encoded)
            })
            .then(response => {
                if (response.status === 200) {
                    window.location.replace("{% url "index" %}");
                    login_status_callback("success", undefined);
                } else {
                    login_status_callback("fail", response.statusText);
                }
            })
    }

</script>
